<div class="page-shrimper"></div>
<div class="icon-popup"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/public/index.js"></script>
<script src="/public/js/pageTransition.js"></script>
</body>
</html>